not:.list {
	margin: 0;
	padding: 0;
}


body {
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06bbe046-3dfc-4690-8707-e9989f0221d8/dddt4du-1a26f30e-0456-4bb8-81c3-4ba01794e3fb.png/v1/fill/w_1920,h_1080,q_80,strp/grey_minimalist_wallpaper_by_gaikan_dddt4du-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzA2YmJlMDQ2LTNkZmMtNDY5MC04NzA3LWU5OTg5ZjAyMjFkOFwvZGRkdDRkdS0xYTI2ZjMwZS0wNDU2LTRiYjgtODFjMy00YmEwMTc5NGUzZmIucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.tbLsGPkM7SuFm24xSWtVRB97pVjTGE86sZe1Y8bOdwk);
	background-position: fixed;
	background-size: contain;
	z-index: 10;
	height: auto;
}

.header {
	font-size: 50px;
	left: 35%;
	top: 0px;
}


nav {
	width: 100vw;
	height: 7.5vh;
	text-align: center;
	top: 0;
	color: black;
	z-index: 2;
	box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
	transform: translate3d(0, 0, 0);
	background-image: url(https://i.imgur.com/kyAienM.gif);
	background-position: 0 100px fixed;
	background-size:contain;
	transition: top 0.2s ease-in-out;
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;
	margin-bottom: 1vh;
}



nav a {
  position: relative;
  width: 50%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 8px 10px;
  transition: .6s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: .6s ease transform;
  z-index:15;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

nav a:nth-child(4):before {
  background-color: #00FFFF;
}

nav a:nth-child(4):after {
  background-color: palevioletred;
}

#indicator {
  position: relative;
  width: 75px;
  height: 5px;
  background-color: transparent;
  border-radius: 5px;
  transition: .6s ease-in-out;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1.25);
}

nav a:nth-child(1):hover ~ #indicator {
  left: 1.25%;
  background: linear-gradient(130deg, yellow, red);
  
}

nav a:nth-child(2):hover ~ #indicator {
  left: 32%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 69%;
  background: linear-gradient(130deg, purple, palevioletred);
}


.ul {
	text-decoration: none;
	font-size: 2vh;
	margin-top: 2vh;
	font-family: arial;
	color: white;
	padding: 0 20px;
	position: sticky;
	left: 25;
	list-style: none;
	display: inline-block;
	line-height: 120%;
	height: 75px;
	
}

h1 {
	position: fixed;
	left:45%;
	top: 25px;
	z-index: 4;
	color: white;
	
}


.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

.wrapper {
	margin: 0 auto;
	width: 75vw;
}

section {
	z-index: 1;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
	box-sizing: content-box;
	margin-bottom: 1vh;
	background: url(https://wallpaperaccess.com/full/812553.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: fixed;
	margin: 4px;
}

.formcontainer {
    border: 2px solid black;
    margin: auto;
    padding: 25px 0;
    width: 400px;
}

.form {
    display:table;
    line-height:10px;
	margin: auto;  
}

.table {
	display: table-row;
}

.cell {
	display: table-cell;
	text-align: left;
}

form input[type="text"] {
    display:inline-block;
    margin:0 auto;
    width:200px;
	height:20px;
	border-radius:3px;
	border: 2px black solid;
	background-color: lightblue;
}


section h2 {
	padding: 1vw;
	border-bottom: 3px black;
	z-index: 2;
	border-radius: 10px;
	font: serif;
	font-size: 32px;
	text-shadow: 0 0 3px black, 0 0 5px black;
	text-align: center;
	color: white;
	height: 90%;
	}


div #portfolio {
	background-color:grey;
	border-radius: 10px;
	height: auto;
	width: auto;
	margin-bottom: 1vh;
	overflow: auto;
}

.list {
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	color: white;
	font-size: 30px;
	padding: 0;
	object-fit: contain;
}

.photosvideos {
	height: 100%;
	border: solid black 2px;
	object-position: center;
	text-align: center;
}

.photosvideosv {
	height: 100%;
	border: solid black 2px;
	object-position: center;
	text-align: center;
}

.photos {
	display: inline;
	align-items: center;
	justify-items: center;
	width: 70%;
	margin:auto;	
}

.row > .column {
	padding: 0 8px;
  }

  .row:after {
	content: "";
	display: table;
	clear: both;
  }

/* Create four equal columns that floats next to eachother */
.column {
	float: left;
	width: 25%;
  }

  /* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
	margin-bottom: -8px;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Caption text */
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.video {
	padding-top: 10px;
	text-align: center;
}

img {
	width: 95%;
	height: 100%;
	object-fit: contain;
}

div header {
	font-size: 45px;
	text-align: center;
	text-shadow: 0 0 1px black, 0 0 1px black;
	height: 16.35%;
	overflow: auto;
}


div #contact {
	text-align: center;
	background-color: white;
	border-radius: 10px;
	z-index:2;
}

div #contact label {
	position:relative;
	width:auto;
	border:1px dotted black;
	font-family:AR CENA;
	font-size:20px;
	display: inline-block;

}




footer {
	text-align: center;
	color:white;
}
